SERVICE_NAME=http-ingest
DEBUG=True
UVICORN_WORKERS=4
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_CLIENT_ID=http-ingest-producer
KAFKA_SECURITY_PROTOCOL=PLAINTEXT
KAFKA_TOPIC_TELEMETRY_RAW=telemetry.raw
KAFKA_PRODUCER_ACKS=all
KAFKA_PRODUCER_LINGER_MS=5
